/* Custom styles for the container */
.content-search {
  height: inherit;
  width: 350px;
  margin-right: 1.5rem;
}
/* Style for the form control */
.form-control1 {
  width: inherit;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
}

/* Style for the input field */
.form-control1 .input-field {
  border: none;
  width: 100%;
  padding: 4px;
  font-size: 14px;
  outline: none;
}

/* Additional styles for input focus */
.form-control1 .input-field:focus {
  border-color: #f8f9fa;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/*  */
/*  */

.menu-serch {
  display: none !important;
}

@media (max-width: 575.98px) {
  .content-search {
    display: none;
  }
  .form-control1 {
    display: none;
  }
  .makeStyles-menuButton-2 {
    display: none !important;
  }

  .MuiToolbar-regular {
    position: relative;
  }
  .makeStyles-sectionMobile-9,
  .menu-burger {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #000 !important;
    font-size: 29px;
    cursor: pointer;
    color: blue !important;
    background: white;
    padding: 3px;
  }

  /* .makeStyles-sectionMobile-9,
  .menu-burger {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000 !important;
    font-size: 20px;
    cursor: pointer;
  } */
  .makeStyles-sectionMobile-9,
  .menu-burger {
  }

  .MuiTypography-h6 {
    margin-left: 8rem !important;
  }

  .MuiSvgIcon-root {
    display: none;
  }

  .menu-serch {
    display: flex !important;
    color: #000;
    margin-left: 6rem;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
  }
  .menu-serch {
  }
}
@media (max-width: 450px) {
  .MuiTypography-h6 {
    margin-left: 6rem !important;
  }
  .menu-serch {
    margin-left: 3rem;
  }
  .menu-serch {
  }
}
@media (max-width: 450px) {
  .menu-serch {
    margin-left: 3rem;
  }
  .menu-serch {
  }
}
